html, body {
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: #000000;
    background-color: rgb(249, 250, 233);
}

/*navbar*/
.navbar-brand img, toggler img{
    height: 65px;
    background-color: white;
}
.navbar{
    padding: 10px;
}
.navbar-nav li {
    padding-right: 30px;
    justify-content: space-between;
}   
.nav-link {
    font-size: 20px !important;
    font-family: 'Pacifico';
}

/*jumbotron*/
.jumbotron {
    background-image: url(cookingimages/cookingimage1.png); alt: cooking image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    margin: 0 auto;
}
.jumbotron h1{
    color: rgb(75, 121, 206);
    font-family: 'Pacifico';
    text-align: center;
    margin-top: 160px;
}
.red-text {
    color: red;
}
.welcome {
    background-color:#FAEBEFFF;
    font-family: 'Lobster';
    color: #333D79FF;
}

/*about us*/
#kitchen , #prices , #ourchefs {
    background-color: #333D79FF;
    color: #FAEBEFFF;
    font-family: 'lobster';
    border: solid; 
    border-color: rgb(240, 238, 238);
}
.image-fluid {
    width: 100%;
}
#cuisineimage , .kitchenimage , #founderimage {
    height: 100%;
    border-radius: 20px;
}
.logoname {
    color: rgb(5, 5, 105);
    font-weight: bolder; 
    font-size: 20px;
    font-family: 'lobster';
}

/*Our chefs*/
.card {
    margin-bottom: 30px;
    border: solid;
    border-color: rgb(221, 220, 220);
    height: auto;
}

/*Our rates*/
.table {
    text-align: center;
}
.thead {
    text-decoration: underline; 
    font-size: large;
}
.tbody {
    color: aqua;
}

/*Youtube video*/

/*Contact us*/
#googlemap {
    width: 100%;
    height: auto;
}
#contact-form {
    text-align: center;
    margin: auto;
}

/*footer*/
.page-footer {
    background-color: white;
}
a:visited {
    color: blue;
}
a:hover {
    color: green;
}
.fa-facebook-square {
    color: blue;
}
.fa-instagram-square {
    color: #E1306C;
    padding-left: 20px;
}
.fa-whatsapp-square {
    color: rgb(68, 236, 68);
    padding-left: 20px;
}
.fa-twitter-square {
    color: rgb(106, 227, 248);
    padding-left: 20px;
}
.fa-youtube-square {
    color: red;
    padding-left: 20px;
}
.fa-snapchat-square {
    color: yellow;
    padding-left: 20px;
}

/*scroll to top button*/
#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: auto; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    text-align: center;
    height: 50px;
    width: 50px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  