html, body {
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: #000000;
    background-color: rgb(249, 250, 233);
}

/*navbar*/
.navbar-brand img, toggler img{
    height: 65px;
    background-color: white;
}
.navbar{
    padding: 10px;
}
.navbar-nav li {
    padding-right: 30px;
    justify-content: space-between;
}   
.nav-link {
    font-size: 20px !important;
    font-family: 'Pacifico';
}

/*jumbotron*/
.jumbotron {
    background-image: url(cookingimages/cookingimage1.png); alt: cooking image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    margin: 0 auto;
}
.jumbotron h1{
    color: rgb(75, 121, 206);
    font-family: 'Pacifico';
    text-align: center;
    margin-top: 160px;
}
.red-text {
    color: red;
}
.welcome {
    background-color:#FAEBEFFF;
    font-family: 'Lobster';
    color: #333D79FF;
}

/*about us*/
#kitchen , #prices , #ourchefs {
    background-color: #333D79FF;
    color: #FAEBEFFF;
    font-family: 'lobster';
    border: solid; 
    border-color: rgb(240, 238, 238);
}
.image-fluid {
    width: 100%;
}
#cuisineimage , .kitchenimage , #founderimage {
    height: 100%;
    border-radius: 20px;
}
.logoname {
    color: rgb(5, 5, 105);
    font-weight: bolder; 
    font-size: 20px;
    font-family: 'lobster';
}
